  .task
    box-sizing: border-box
    background-color: #fff
    border-radius: 0.3em
    border: 1px solid #ccc
    margin: 0.5em 0
    padding: 1em
    font-size: 1.2em

    &-label
      margin-left: 0.5em

    &-trash
      float: right
      cursor: pointer
      &:hover
        color: red

    &-star
      padding-right: 15px
      cursor: pointer
      &:hover
        color: yellow

    &--favorite
      border: 3px solid gold

    &--done
      opacity: 0.5
      text-decoration: line-through
      border: none
